.shipping-form{
    margin:30px 80px;
}
.shipping-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}

@media screen and (max-width:600px){
    .shipping-form{
        margin:10px 30px;
    }
    .shipping-form input {
        display: block;
        margin-top: 30px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 200px;
    }
}